@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-hover {
  transition: transform 0.2s;
}

.icon-hover:hover {
  transform: scale(1.05);
}

.icon-hover:active {
  transform: scale(0.95);
}

.card-hover {
  transition: transform 0.2s;
}

.card-hover:hover {
  transform: scale(1.05);
}

.card-hover:active {
  transform: scale(0.95);
}
